<h1>Hello</h1>

<%= form_for Item.new do |f|%>
	<div class="form">
		<%= f.text_field :name, placeholder:
		"Enter Task"%>
	</div>

	<div class="form">
		<%=f.submit%>
	</div>
<%end%>

<br/>
<ul>

<% @items.each do |item|%>
	<li>
		<%=item.name%> <br/>
		<%=link_to "Delete", item_path(item), method: 'delete'%>
	</li>
</ul>
<%end%>