<div id="user_nav">
	<% if user_signed_in?%>
		Signed in as <%=current_user.email%>
		<%= link_to "Sign Out", destroy_user_session_path, :method => :delete%>
	<%else%>
		<%=link_to "Sign Up", new_user_registration_path%> or <%=link_to "sign in", new_user_session_path%>
	<%end%>
</div>

<%if user_signed_in?%>
	<h1><%=current_user.email%>'s Tasks</h1>
<%else%>
	<h1>Global Tasks</h1>
<%end%>

<%= form_for Item.new, remote: true do |f|%>
	<%= f.text_field :name, placeholder: "Enter New Task" %>
	<%=f.submit "Add"%>
<%end%>
<br/>

<ul id="todo_list">
	<%=render @items%>
</ul>